{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'usuarios/css/cadastro.css' %}">
    <title>Sistema de cadastro</title>
</head>
<body>
    <main class="container">
        <div class="form-image">
            <img src="{% static 'usuarios/img/undraw.svg' %}">
        </div>
        <div class="form">
            <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %} 
                
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                    <div class="login-button">
                     <!-- <button><a href="#"> Entrar</a></button> -->
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label>Login: </label>
                        <input type="text" name="login" placeholder="Digite o primeiro nome">
                    </div>
                    <div class="input-box">
                        <label>Nome completo: </label>
                        <input type="text" name="nome_completo" placeholder="Digite o sobrenome">
                    </div>
                    <div class="input-box">
                        <label>E-mail: </label>
                        <input type="email" name="email" placeholder="Digite o seu email">
                    </div>
                    <div class="input-box">
                        <label>Celular: </label>
                        <input type="text" name="celular" placeholder="Digite o seu celular">
                    </div>
                    <div class="input-box">
                        <label>Senha: </label>
                        <input type="password" name="senha" placeholder="Digite a sua senha">
                    </div>
                    <div class="input-box">
                        <label>Confirme a senha: </label>
                        <input type="password" name="confirmar_senha" placeholder="Confirme a sua senha" required>
                    </div>
                </div>
                <div class="gender-inputs">
                    <div class="gender-title">
                        <h6>Gênero</h6>
                    </div>
                    <div class="gender-group">
                        <div class="gender-input">
                            <input type="radio" name="gender">
                            <label>Feminino</label>
                        </div>
                        <div class="gender-input">
                            <input type="radio" id="male" name="gender">
                            <label for="male">Masculino</label>
                        </div>
                        <div class="gender-input">
                            <input type="radio" id="other" name="gender">
                            <label for="other">Outros</label>
                        </div>
                        <div class="gender-input">
                            <input type="radio" id="none" name="gender">
                            <label for="none">Prefiro não dizer</label>
                        </div>            
                    </div>
                </div>
                <div class="continue-button">
                    <button><a href="{% url 'cadastro' %}">Continue</a></button>
                </div>
            </form>

        </div>

    </main>
    
</body>
</html>